*.png
*.pdf
*.eps
*.csv
*.ps
*.txt
*.nc
*/*.pdf
*/*.eps
*/*.csv
*/*.ps
*/*.txt
*/*.nc
./backup
*sh.o*
*/*sh.o*
*/*/*sh.o*
*/nohup.out
*/*/nohup.out
*/*/*/nohup.out
*/txt/*
*/plots/*
*/data/*
*/refuse/*
*/*/refuse/*
*/*/plots/*
*/*/data/*
*/*/csv/*
*/*/txt/*
*/*/nc_file/*
*/*/*/*sh.o*
./drght_2017-2019/csv/*
./drght_2017-2019/txt/*
./drght_2017-2019/logs/*


